.navbar.navbar-expand-lg.navbar-dark.bg-dark
    ul.navbar-nav.mr-auto
        li.nav-item
            a(href="https://www.facebook.com/NewHeritageMinistry/" target='_blank').nav-link
                i.fab.fa-facebook-square.social-icon.fa-2x
        li.nav-item
            a(href="https://www.instagram.com/newheritageministry/" target='_blank').nav-link
                i.fab.fa-instagram.social-icon.fa-2x
        li.nav-item
            a(href="/contact.html").nav-link Contact
        li.nav-item
            a(href="https://drive.google.com/drive/folders/1y3BuoG7qHXbWnNgxjYsg-lcjJvJgL0uT?usp=sharing" target="_blank").nav-link Compliance information