#navbar.navbar.navbar-expand-lg.navbar-light.white-bg
    a(href="/index.html").navbar-brand
        img(src="/img/logo.svg" alt="Home Page")#nav-logo
    button(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item
                a(href="/index.html").nav-link home
            li.nav-item
                a(href="/about.html").nav-link about
            li.nav-item.final-element
                a(href="/involvement.html").nav-link involvement