$ghost-white: #f8f8ff;

$grey-200: #ededed;
$grey-600: #444444;

$teal-300: #b0e4d7;
$teal-500: #92cdc4;
$teal-alt-600: #9dcac0;
$teal-700: #76b9af;
$teal-800: #1bbc9b;

$pink-300: #f392bd;
$pink-500: #ea7c9f;
$pink-alt-600: #da888c;
$pink-alt-800: #e66c82;
$pink-800: #e26a8f;

$orange-600: #F1762A;
$teal-600: rgb(25, 177, 169);