.npm-hero.teal-bag-img
    .justify-hero.left.teal-highlight.white-text
        div
            span Thank you
        div
            span everyone for
        div
            span fulfilling all 
        div
            span our school
        div
            span sponsorships.
    .container
        .row
            .col.text-center
                button.home-button.white-bg.teal-text donate