.npm-hero.desert-img
    .justify-hero.right.white-highlight.orange-text
        div
            span We spread the
        div
            span hope of Jesus
        div
            span Christ &amp; relief
        div
            span to northern
        div
            span Uganda.

