html(lang=en)
    include includes/head.pug
    body
        include includes/navbar.pug
        #content
            h1 under construction
        include includes/footer.pug
    include includes/scripts.pug