.container
    .row
        .col
            h2 Meetings
    .row
        .col
            .card.card-body.bg-light
                h4 Meetings are held on the 1st Friday of the month
                br
                a(href="https://goo.gl/maps/MACJ3CRb9mJ2" target="_blank").center-items
                    i.fas.fa-map-marker-alt.fa-lg.card-icon
                    .d-inline-block
                        | 5024 W Livingston Rd
                        br
                        | Pasco, Washington 99301
//- TODO: Add next meeting date